<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Sign In')}"></head>
<body id="body-pd">
<div th:replace="~{fragments/layout :: sidebar('signIn')}"></div>
<article class="container">
	<div class="page-header text-center" style="width:100%; margin: 5% 0;">
		<img class="img-fluid" th:src="@{/image/signin_new.png}" style="width:30%; height: 100px;" alt="Sign In"/>
	</div>
	<div class="col-sm-6" style="margin-left:25%">
		<th:block th:replace="~{fragments/layout :: flash}"></th:block>
		<div class="alert alert-danger" th:if="${param.error}" th:switch="${param.error[0]}">
			<span th:case="'unverified'">인증되지 않은 계정입니다. 가입시 작성한 메일 계정을 확인해주세요.</span>
			<span th:case="'suspended'">정지된 회원입니다. 자세한 사항은 관리자에게 문의하세요.</span>
			<span th:case="*">존재하지 않거나 잘못된 정보입니다.</span>
		</div>
		<form method="post" th:action="@{/login}">
			<div class="form-group">
				<label for="loginId">아이디</label>
				<input type="text" class="form-control" id="loginId" name="loginId" placeholder="아이디" required>
			</div>
			<div class="form-group">
				<label for="loginPw">비밀번호</label>
				<input type="password" class="form-control" id="loginPw" name="loginPw" placeholder="비밀번호" required>
			</div>
			<div class="form-group text-center">
				<button type="submit" class="btn btn-dark">로그인</button>
			</div>
		</form>
		<div style="color:gray; font-size: 13px;">
			<span>아직 회원이 아니신가요?</span>
			<a style="margin-left: 20px;" th:href="@{/signUp}">회원가입</a>
		</div>
	</div>
</article>
</body>
</html>
