<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newsp.mapper.AnswerMapper">
	<!-- 문의글 답변 작성하기 -->
	<insert id="insertAnswer">
		insert into answer(user_idx, question_idx, content) values(#{user_idx}, #{question_idx}, #{content})
	</insert>
	
	<!-- 선택한 문의글의 답변 가져오기 -->
	<select id="getAnswerInfoInQuestion" resultType="com.newsp.vo.AnswerVO">
		select a.*, b.nickname as nickname, b.level_image as level_image from answer as a join user as b on a.user_idx = b.idx where a.question_idx = #{question_idx}
	</select>
	
</mapper>