<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newsp.board.AttachmentMapper">

	<insert id="insert" useGeneratedKeys="true" keyProperty="idx" keyColumn="idx">
		insert into attachment (board_idx, file_name, file_path) values (#{boardIdx}, #{fileName}, #{filePath})
	</insert>

	<select id="findByBoard" resultType="com.newsp.board.Attachment">
		select * from attachment where board_idx = #{boardIdx} order by idx
	</select>

	<select id="findByIdx" resultType="com.newsp.board.Attachment">
		select * from attachment where idx = #{idx}
	</select>

	<select id="countByBoard" resultType="int">
		select count(*) from attachment where board_idx = #{boardIdx}
	</select>

	<delete id="delete">
		delete from attachment where idx = #{idx}
	</delete>

	<delete id="deleteByBoard">
		delete from attachment where board_idx = #{boardIdx}
	</delete>
</mapper>
