<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newsp.mapper.BoardMapper">
	<!-- 글작성 -->
	<insert id="insertNewContent" useGeneratedKeys="true" keyProperty="idx" keyColumn="idx">
		insert into board(user_idx, type, subject, title, content) value(#{userIdx}, #{type}, #{subject}, #{title}, #{content})
		<selectKey resultType="Integer" keyProperty="idx" order="AFTER">
			SELECT LAST_INSERT_ID() AS IDX
		</selectKey>
	</insert>
	<!-- attachment_idx update -->
	<update id="attachIdUpdate">
		update board set attachment_idx_list=#{attachmentIdxList} where idx=#{boardIdx}
	</update>
	<!-- 조회수 업데이트 -->
	<update id="updateHitsCount">
		update board set hits=hits+1 where idx=#{boardIdx}
	</update>
	<sql id="getBoardInfo">
		select b.idx, b.user_idx, b.subject, b.title as title, b.content as content, b.written_date, b.hits, u.nickname as nickname, u.level_image from board as b
		left join user as u on b.user_idx = u.idx
    </sql>
	<!-- 게시판: 최신순으로 가져오기 -->
	<select id="getBoardOrderbyDate" resultType="com.newsp.vo.BoardVO">
		<include refid="getBoardInfo"></include> where type=#{type} order by written_date desc limit #{start}, #{count}
	</select>
	<!-- 게시판: 조회수순으로 가져오기 -->
	<select id="getBoardOrderbyHits" resultType="com.newsp.vo.BoardVO">
		<include refid="getBoardInfo"></include> where type=#{type} order by hits desc, written_date desc limit #{start}, #{count}
	</select>
	<!-- 게시글 총 개수 -->
	<select id="getCountAllBorad" resultType="Integer">
		select count(*) from board where type=#{type}
	</select>
	<!-- 선택한 게시글 가져오기 -->
	<select id="getBoardDetailInfo" resultType="com.newsp.vo.BoardVO">
		select b.idx, b.user_idx, b.subject, b.title, b.content, b.written_date, b.hits, b.reply_count, b.attachment_idx_list, u.nickname as nickname, u.level_image from board as b
		left join user as u on b.user_idx = u.idx where b.idx=#{boardIdx}
	</select>
	<!-- 게시판 내 검색하기 -->
	<select id="searchBoard" resultType="com.newsp.vo.BoardVO">
		<include refid="getBoardInfo"></include> where type=#{type} and ${option} like '%${keyword}%' order by written_date desc limit #{start}, #{count};
	</select>
	<!-- 검색 결과 count -->
	<select id="countAfterSearch" resultType="Integer">
		select count(*) from board as b left join simple_board.user as u on b.user_idx = u.idx where type=#{type} and ${option} like '%${keyword}%';
	</select>
</mapper>