<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newsp.mapper.ReplyMapper">
	<!-- 댓글 리스트 가져오기 -->
	<select id="getReplyList" resultType="com.newsp.vo.ReplyVO">
		select reply.*, user.nickname, user.level_image from reply left join simple_board.user on reply.user_idx=user.idx
		where reply.board_idx=#{boardIdx} order by reply_seq asc;
	</select>
	<!-- 댓글 작성하기 -->
	<insert id="insertReply">
		insert into reply(board_idx, user_idx, content, reply_group_idx) value(#{boardIdx},#{userIdx},#{content}, #{replyGroupIdx});
	</insert>
	<!-- 댓글 개수 -->
	<select id="getReplyCount" resultType="Integer">
		select sum(re.total_count) from (select count(*) as total_count from simple_board.reply where board_idx=#{boardIdx} union all select count(*) as total_count from simple_board.rereply where board_idx=#{boardIdx})re;
	</select>
	<!-- 내가 쓴 댓글 수정 -->
	<update id="modifyReply">
		update reply set content=#{content}, reply_modify_date=now() where idx=#{idx} and board_idx=#{boardIdx} and user_idx=#{userIdx};
	</update>
	<!-- 내가 쓴 댓글 삭제 -->
	<delete id="deleteReply">
		delete from reply where idx=#{idx} and board_idx=#{boardIdx} and user_idx=#{userIdx};
	</delete>
</mapper>