<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('My Board')}"></head>
<body id="body-pd">
<div th:replace="~{fragments/layout :: sidebar('my')}"></div>
<div class="container">
	<h1 class="main-title">My Board</h1>
	<form th:action="@{/my/posts/delete}" method="post" data-confirm="선택한 게시글을 삭제하시겠습니까?">
		<div class="check-section">
			<div class="custom-control custom-checkbox">
				<input type="checkbox" id="allCheckBtn" class="custom-control-input"/>
				<label for="allCheckBtn" class="custom-control-label" style="font-size: 13px;">전체 선택</label>
			</div>
			<button type="submit" class="btn btn-dark" style="height: 30px; font-size: 13px;">삭제</button>
		</div>
		<ul class="list-group main-block">
			<li class="list-group-item" th:each="board : ${boards}">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" name="each" th:id="|check-${board.idx}|" class="custom-control-input" th:value="${board.idx}">
					<label th:for="|check-${board.idx}|" class="custom-control-label"></label>
					<a th:href="@{/posts/{idx}(idx=${board.idx})}" th:text="${board.displayTitle}">title</a>
					<div class="user-info">
						<span class="hits"><ion-icon name="eye-outline"></ion-icon>&nbsp;<span th:text="${board.hits}"></span></span>
						<span class="hits"><ion-icon name="chatbubbles-outline"></ion-icon>&nbsp;<span th:text="${board.replyCount}"></span></span>
					</div>
				</div>
				<div class="list-content" th:text="${#strings.abbreviate(board.content, 80)}"></div>
				<div class="board-info">
					<a class="list-content" th:href="@{/boards/{t}(t=${board.type})}">
						게시판 : <ion-icon th:name="${board.boardType.icon}" class="board-icon"></ion-icon>
						<span th:text="${#strings.toLowerCase(board.boardType.title)}"></span></a>
					<span class="written-date" th:text="${#temporals.format(board.writtenDate, 'yyyy-MM-dd HH:mm')}"></span>
				</div>
			</li>
			<li class="list-group-item empty-message" th:if="${#lists.isEmpty(boards)}">작성한 게시글이 없습니다.</li>
		</ul>
	</form>
</div>
</body>
</html>
