<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('My Reply')}"></head>
<body id="body-pd">
<div th:replace="~{fragments/layout :: sidebar('my')}"></div>
<div class="container">
	<h1 class="main-title">My Reply</h1>
	<form th:action="@{/my/replies/delete}" method="post" data-confirm="선택한 댓글을 삭제하시겠습니까?">
		<div class="check-section">
			<div class="custom-control custom-checkbox">
				<input type="checkbox" id="allCheckBtn" class="custom-control-input"/>
				<label for="allCheckBtn" class="custom-control-label" style="font-size: 13px;">전체 선택</label>
			</div>
			<button type="submit" class="btn btn-dark" style="height: 30px; font-size: 13px;">삭제</button>
		</div>
		<ul class="list-group main-block">
			<li class="list-group-item" th:each="reply : ${replies}">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" name="each" th:id="|check-${reply.idx}|" class="custom-control-input" th:value="${reply.idx}">
					<label th:for="|check-${reply.idx}|" class="custom-control-label"></label>
					<span class="content-text" th:text="${reply.content}">content</span>
					<span class="written-date" th:text="${#temporals.format(reply.writtenDate, 'yyyy-MM-dd HH:mm')}"></span>
				</div>
				<div class="board-info">
					<a class="list-content" th:href="@{/posts/{idx}(idx=${reply.boardIdx})}" th:text="|원문 제목 : ${reply.title}|"></a>
					<span class="hits" style="float:right;"><ion-icon name="chatbubbles-outline"></ion-icon>&nbsp;<span th:text="${reply.boardReplyCount}"></span></span>
				</div>
			</li>
			<li class="list-group-item empty-message" th:if="${#lists.isEmpty(replies)}">작성한 댓글이 없습니다.</li>
		</ul>
	</form>
</div>
</body>
</html>
