<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newsp.notice.NoticeMapper">

	<sql id="selectNotice">
		select n.*, u.nickname, u.level_image from notice n left join user u on n.user_idx = u.idx
	</sql>

	<select id="findAll" resultType="com.newsp.notice.Notice">
		<include refid="selectNotice"/> order by n.written_date desc, n.idx desc
	</select>

	<select id="findForBoard" resultType="com.newsp.notice.Notice">
		<include refid="selectNotice"/> where n.type = 0 or n.type = #{type} order by n.written_date desc, n.idx desc
	</select>

	<select id="findByIdx" resultType="com.newsp.notice.Notice">
		<include refid="selectNotice"/> where n.idx = #{idx}
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="idx" keyColumn="idx">
		insert into notice (user_idx, type, title, content) values (#{userIdx}, #{type}, #{title}, #{content})
	</insert>

	<update id="update">
		update notice set type = #{type}, title = #{title}, content = #{content}, modify_date = now() where idx = #{idx}
	</update>

	<delete id="delete">
		delete from notice where idx = #{idx}
	</delete>

	<update id="increaseHits">
		update notice set hits = hits + 1 where idx = #{idx}
	</update>
</mapper>
